@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
.Like{
    font-family: 'Alatsi', sans-serif;
    text-align: center;
}
.likeBtn{
    padding: 5px 50px;
    background: #65c5b9;
    border: none;
    border-radius: 150px;
    color: #0f465b;
    font-size: 30px;
    font-weight: bold;
    transition: 250ms;
    cursor: pointer;
}
.likeBtn:hover{
    padding: 5px 100px;
}
.likeBtn:focus{
    outline: none;
}
